@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Establezco la font de la pagina */
html {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    background-color: rgb(217,217,217);
    flex-wrap: wrap;
}

.container {
    max-width: 1500px;
}


/* 
|
|
| Seccion Nav
|
|
*/

.header__logo {
    display: flex;
    justify-content: center;
    width: auto;  
}

.header__nav {
    background-color: lightseagreen;
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;   
}
.header__nav li {
    margin: 15px;
}

.header__nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    color: white;
}

.active {
    color: black !important;
}

/* Fin Seccion Nav */


/* Galeria de fotos */

#galeria__banner {
    display: grid;
    
    
}

#galeria__banner img {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    

}


#galeria__banner img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    
}

#galeria__banner img:nth-child(1):hover {
    width: 1000px;
}

#galeria__banner img:nth-child(2) {
    grid-column: 2/2;
    grid-row: 1/3;
}

#galeria__banner img:nth-child(2):hover {
    width: 1500px;
    z-index: 1;
}

#galeria__banner img:nth-child(3) {
    grid-column: 2/2;
    grid-row: 2/2;
}

#galeria__banner img:nth-child(3):hover {
    width: 1500px;
}

@media screen and (max-width: 500px) {
    #galeria__banner {
        display: flex;
        flex-direction: column;
    }
    .foto-prod {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Fin galeria de fotos */


.mas-vendidos {
    display: inline;
    width: 25%;
    margin: 30px;
}

.foto-prod {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.foto-prod img {
    border-radius: 20px
}


.titulo-productos {
    text-align: center;
    font-size: 50px;
    border: solid 3px white;
    color: white;
    background-color: lightseagreen;
}

.footer {
    text-align: center;
    background-color: lightseagreen;
    border: solid 5px;
}

/* fin index.html */

/* productos */


.almohadillas {
    display: flex;
    gap: 350px;
}
.almohadillas img {
    display: flex;
    border-radius: 20px;
    margin-left: 30px;
    width: 30%;
}

.almohadillas img:hover {
    width: 800px;
}

.almohadillas p {
    display: flex;
    font-size: x-large;
    align-items: center;
}

.texto-productos {
    text-align: center;  
}

.sales {
   display: flex;
   flex-direction: row-reverse;
   gap: 350px;
}

.sales img {
    display: flex;
    border-radius: 20px;
    margin-right: 30px;
    width: 30%;
}

.sales img:hover {
    width: 800px;
}

.sales p {
    display: flex;
    font-size: x-large;
    align-items: center; 
}


.cremas {
    display: flex;
    gap: 350px;
}

.cremas img {
    display: flex;
    border-radius: 20px;
    width: 30%;
}

.cremas img:hover {
    width: 800px;
}

.cremas p {
    display: flex;
    font-size: x-large;
    align-items: center;
}

@media screen and (max-width: 500px) {
   .almohadillas {
       display: flex;
       flex-direction: column;
   }
   .sales {
    display: flex;
    flex-direction: column;
   }
   .cremas {
    display: flex;
    flex-direction: column;
   }
}
 


/* Fin seccion productos */
 
.gabinete {
    display: flex;
    gap: 350px;
}

.gabinete img {
    display: flex;
    width: 20%;
    border-radius: 50px;
    margin-top: 20px;
}

.gabinete p {
    display: flex;
    align-items: center;
    font-size: x-large;  
}

.domicilio {
    display: flex;
    flex-direction: row-reverse;
    gap: 350px;
}

.domicilio img {
    display: flex;
    width: 20%;
    border-radius: 50px;
    margin-right: 30px;
}

.domicilio p {
    display: flex;
    align-items: center;
    font-size: x-large;
}

.desc__dom {
    display: flex;
    gap: 350px;
}

.desc__dom img {
    display: flex;
    width: 16%;
    border-radius: 50px;
    margin-left: 200px;
}

.desc__dom p {
    display: flex;
    align-items: center;
    font-size: x-large;
}

.desc__gab {
    display: flex;
    flex-direction: row-reverse;
    gap: 350px;
}

.desc__gab img {
    display: flex;
    width: 20%;
    border-radius: 50px;
}

.desc__gab p {
    display: flex;
    align-items: center;
    font-size: x-large;

}

@media screen and (max-width: 500px) {
    .gabinete {
        display: flex;
        flex-direction: column;
    }
    .domicilio {
        display: flex;
        flex-direction: column;
    }
    .desc__dom {
        display: flex;
        flex-direction: column;
    }
    .desc__gab {
        display: flex;
        flex-direction: column;}
}

/* fin seccion servicios */

.nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.desc {
    font-size: x-large;
}

.img__nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img__nosotros img {
    width: 100%;
    padding: 20px;
    border-radius: 100px;
}

.img__nosotros img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
.img__nosotros img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.img__nosotros img:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.img__nosotros img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}

@media screen and (max-width: 500px) {
    .img__nosotros {
        display: flex;
        flex-direction: column;
    }
}

/* fin area nosotros */



.contacto {
    font-size: xx-large;
    margin: 20px;
}

.form1 {
    margin: 20px;
}

.motivo {
    margin: 20px;
    font-size: xx-large;
}

.area-consulta {
    margin: 30px;
}


.opciones {
    margin: 0px 0px 0px 30px;
}

.botones {
    margin: 0px 0px 0px 30px;
}

